h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Segoe UI" , Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#post-title
{
    width: 100%;
}

.post-footer {
    position: relative;
}

.twitter {
    color: #55ACEE;
}

.twitter:hover, .twitter:focus {
    color: #2795E9;
}

.facebook {
    color: #3B5998;
}

.facebook:hover, .facebook:focus {
    color: #2D4373;
}

.google-plus {
    color: #DD4B39;
}

.google-plus:hover, .google-plus:focus {
    color: #C23321;
}