---
layout: default
---

<div id="post">
	<article itemscope itemtype="http://schema.org/Article">
        <div class="container">
            <div class="row">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>
                <hr />
                <div class="col-sm-9">
                    <div class="wrap">
                        <div id="content" class="page-content">
                            {{ content }}
                            <aside>
                                {% if page.comments == true %}{% include comments.html %}{% endif %}
                            </aside>
                        </div><!-- /.content -->
                    </div><!-- /.inner-wrap -->
                </div>
                <div class="col-sm-3">
                    <div class="post-meta">
                        {% include page-meta.html %}

                        {% if page.share != false %}{% include share-this.html %}{% endif %}
                    </div><!-- post metadata -->
                </div>
            </div>
        </div> <!-- .container> -->
	</article><!-- ./wrap -->
</div><!-- /#main -->