<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,500">
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">

    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    {% include navigation.html %}

    <section id="about">
        <div class="container">
            <img class="img-circle img-responsive" src="images/self_chibi.png" alt="About Picture">
            <br />
            <p class="text-center">My name is Tyler Hughes.<br />
                I'm a IT technician by day, coder by night, and this is my portfolio. <br />
                I'm currently expanding my web development knowledge by taking a free online course at <a href="http://www.freecodecamp.com/">FreeCodeCamp</a>.<br />
                As my web development skills improve so will this page, so please check back often to see my progress.
            </p>
        </div>
    </section> <!-- #about -->

    {% include browser-upgrade.html %}

    <div id="recent-posts">
        <div class="container">
            <h1 class="text-center">Recent Blog Posts</h1>
            {{ content }}
        </div>
    </div><!-- #recent-posts -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h1 class="text-center">Contact Me</h1>
                    <p class="text-center">If you have any questions, requests, or just want to chat, feel free to contact me.</p>
                    <br />
                    <p class="text-center"><b>Note:</b> This form does not work at this time. I hope to have<br />it operational soon. Sorry for the inconvenience. In the mean<br />
                       time feel free to contact me via <a href="http://www.twitter.com/thughesIT">Twitter</a></p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSubject" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6" placeholder="Message" id="inputMessage" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-block btn-success"><i class="fa fa-send-o"> Send Message</i></button>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script id="dsq-count-scr" src="//randomlyknighted.disqus.com/count.js" async></script>
  </body>
</html>